<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Prets</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" style = "text/css" href = "style.css">
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Gestion des Prets</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/abonnes">Abonnés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livres">Livres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prets">Prets</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aide">Aide</a>
        </li>
    </ul>
</nav>

<div class="container marginTop">
    <div class="panel panel-primary">
        <div class="panel-heading">Détails</div>
        <div class="panel-body">
            <form method ="post" action = "#" class = "form" th:object="${livre}">

                <div class = "form-group">
                    <label for = "titre">Titre:</label>
                    <input style="font-weight:bold" th:text="${livre.titre}" type="hidden" name ="titre"  class = "form-control" id ="titre">
                </div>

                <div class = "form-group">
                    <label for = "auteur">Auteur:</label>
                    <input style="font-size:20px" th:text="${livre.auteur}" type="hidden" name ="titre"  class = "form-control" id ="auteur">
                </div>

                <div class = "form-group">
                    <label for="commentaire">Commentaires:</label>
                    <textarea style="font-weight:bold" th:text="${livre.commentaire}" type="hidden" rows="5" cols="33" name ="commentaire" class = "form-control" id ="commentaire"> required></textarea>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>