<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Prets</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" style = "text/css" href = "style.css">
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Gestion des Prets</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/abonnes">Abonnés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livres">Livres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prets">Prets</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aide">Aide</a>
        </li>
    </ul>
</nav>

<div class="container marginTop">
    <div class="panel panel-primary">
        <div class="panel-heading">Abonné</div>
        <div class="panel-body">
            <form method ="post" action = "#" class = "form" th:object="${abonne}">
                <div class = "form-group">
                    <label for="prenom">Prénom:</label>
                    <input style="font-weight:bold" th:text="${abonne.prenom}" type ="hidden" name ="prenom" placeholder = "Prénom" class = "form-control" id ="prenom">
                </div>

                <div class = "form-group">
                    <label for="nom">Nom:</label>
                    <input style="font-weight:bold" th:text="${abonne.nom}" type ="hidden" name ="nom" placeholder = "Nom" class = "form-control" id ="nom" >
                </div>

                <div class = "form-group">
                    <label for="email">Email:</label>
                    <input style="font-weight:bold" th:text="${abonne.email}" type ="hidden" name ="email" placeholder = "Email" class = "form-control" id ="email">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container marginTop">
    <div class="panel panel-primary">
        <div class="panel-heading">Ouvrage</div>
        <div class="panel-body">
            <form method ="post" action = "#" class = "form" th:object="${livre}" >
                <div class = "form-group">
                    <label for="auteur">Auteur:</label>
                    <input style="font-weight:bold" th:text="${livre.auteur}" type ="hidden" name ="auteur" placeholder = "auteur" class = "form-control" id ="auteur">
                </div>

                <div class = "form-group">
                    <label for="titre">Titre:</label>
                    <input style="font-weight:bold" th:text="${livre.titre}" type ="hidden" name ="titre" placeholder = "Titre" class = "form-control" id ="titre" >
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>