<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Prets</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" style = "text/css" href = "style.css">
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Gestion des Prets</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/abonnes">Abonnés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livres">Livres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prets">Prets</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aide">Aide</a>
        </li>
    </ul>
</nav>
<div class="container marginTop">
    <a href="/addAbonne" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add...</a>
    <div class="panel panel-success marginTop">
        <div class="panel-heading">Recherche Abonné par ID</div>
        <div class="panel-body">


            <form method ="post" action = "#" class = "form" th:object="${search}" th:action="@{/searchAbonne}">
                <div class = "form-group">
                    <label for="id">ID:</label>
                    <input  style="font-weight:bold"   name ="id" placeholder = "id" class = "form-control" id ="id" th:field="*{id}" required>
                </div>
                <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class = "glyphicon glyphicon-search"></span>Search</button>
            </form>



        </div>
    </div>
</div>

<div class="container marginTop">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des abonnés </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Modifier</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="abonne : ${abonnes}">
                <tr>
                    <th scope="row" th:text="${abonne.id}"></th>
                    <td th:text="${abonne.prenom}">...</td>
                    <td th:text="${abonne.nom}"></td>
                    <td><a th:href="${abonne.email}" th:text="${abonne.email}"></a></td>
                    <td>
                        <a methods="deleteAbonne" onclick="return confirm('Voulez-vous vraiment supprimer cet abonné?')" th:href = "${'/deleteAbonne/' + abonne.id}" > <span class = "glyphicon glyphicon-trash"></span> </a>
                    </td>

                    <td>
                        <a th:href="@{/showFormForUpdate/{id}(id=${abonne.id})}" > <span class = "glyphicon glyphicon-edit"></span> </a>
                    </td>

                </tr>
                </th:block>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>
