<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Prets</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" style = "text/css" href = "style.css">
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Gestion des Prets</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/abonnes">Abonnés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livres">Livres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prets">Prets</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aide">Aide</a>
        </li>
    </ul>
</nav>

<div class="container marginTop">
    <a href="/addPret" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add...</a>
    <div class="panel panel-success marginTop">
        <div class="panel-heading">Recherche Pret par ID Abonné</div>
        <div class="panel-body">


            <form method ="post" action = "#" class = "form" th:object="${search}" th:action="@{/searchPret}">
                <div class = "form-group">
                    <label for="id">ID:</label>
                    <input  style="font-weight:bold"   name ="id" placeholder = "id" class = "form-control" id ="id" th:field="*{id}" required>
                </div>
                <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class = "glyphicon glyphicon-search"></span>Search</button>
            </form>



        </div>
    </div>
</div>




<div class="container marginTop">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des Prets</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID Abonné</th>
                    <th scope="col">ID Livre</th>
                    <th scope="col">Date début</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Détails</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="pret : ${prets}">
                    <tr>
                        <th scope="row" th:text="${pret.idAbonne}">...</th>
                        <td th:text="${pret.idLivre}">...</td>
                        <td th:text="${pret.debut}"></td>
                        <td th:text="${pret.fin}"></td>
                        <td>
                            <a onclick="return confirm('Voulez-vous vraiment supprimer ce prêt ?')" th:href = "${'/deletePret/' + pret.id}" > <span class = "glyphicon glyphicon-trash"></span> </a>
                        </td>
                        <td>
                            <a th:href="@{/showFormForUpdatePret/{id}(id=${pret.id})}" > <span class = "glyphicon glyphicon-edit"></span> </a>
                        </td>
                        <td>
                            <a th:href="@{/detailPret/{id}(id=${pret.id})}" > <span class = "glyphicon glyphicon-plus"></span> </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>