<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Prets</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" style = "text/css" href = "style.css">
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Gestion des Prets</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/abonnes">Abonnés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livres">Livres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prets">Prets</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aide">Aide</a>
        </li>
    </ul>
</nav>

<div class="container marginTop">
    <div class="panel panel-primary">
        <div class="panel-heading">Mise à jour livre</div>
        <div class="panel-body">
            <form method ="post" action = "#" class = "form" th:object="${livre}" th:action="@{/updateLivre}">
                <div class = "form-group">
                    <label for="id">ID:</label>
                    <input th:text="${livre.id}" style="font-weight:bold"  type = "hidden" name ="id" placeholder = "id" class = "form-control" id ="id" th:field="*{id}" required>
                </div>

                <div class = "form-group">
                    <label for = "titre">Titre:</label>
                    <input style="font-weight:bold" type = "text" name ="titre"  class = "form-control" id ="titre" th:field="*{titre}" required>
                </div>

                <div class = "form-group">
                    <label for = "auteur">Auteur:</label>
                    <input style="font-weight:bold" type = "text" name ="titre"  class = "form-control" id ="auteur" th:field="*{auteur}" required>
                </div>

                <div class = "form-group">
                    <label for="commentaire">Commentaires:</label>
                    <textarea style="font-weight:bold" rows="5" cols="33" name ="commentaire" class = "form-control" id ="commentaire" th:field="*{commentaire}" required></textarea>
                </div>

                <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class = "glyphicon glyphicon-save"></span>Enrégistrer</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>